@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');

/*ESTILOS GENERALES*/

:root{
    --black:#000;
    --black-footer:#202737;
    --azulNoche:#26426A;
    --verdeAzulado:#007EA5;
    --verdePastel:#00BDC5;
    --verdeFosforecente:#73FAC9;
    --white:#fff;
    --gold:#e7cd02;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    color: var(--white);
    overflow-x:hidden;
}
/*ESTILOS DEL BODY*/
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(127.44deg, var(--azulNoche) 28.32%, var(--verdeAzulado) 89.95%);
    }
/*ESTILOS DEL SCROOL DEL BODY*/

body::-webkit-scrollbar {
    width: 1.2rem;   
}
body::-webkit-scrollbar-track{
    background: #017da4;
}
body::-webkit-scrollbar-thumb{
    background: var(--verdeFosforecente);
    border-radius: 10rem;
    border: 0.2rem solid #017da4; 
    padding:10rem 0;   
}
body::-webkit-scrollbar-thumb:hover{
    background: var(--black);
}
/*ESTILOS DEL HEADER*/

.header{
    width: 100vw;
    height: 4rem;
}
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.menu__logo-container{
    width: 19rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
}
.menu__logo-img{
    width: 3rem;
    height: 3rem;
}
.menu__logo-title{
    font-size: 2rem;
}
.menu__list-container{
    width: 40rem;
    display: flex;
    align-items: center;
}
.menu__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.list{
    width: 100%;
    list-style: none;
}
.list a{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white);
}

/*ESTILOS DEL MAIN*/

.main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(7,1fr);
    justify-items: center;
    align-items: center;
}
/*ESTILOS DEL FONDO DEL MAIN*/
.main__container-img{
    width: 100%;
    height: 100%;
    grid-column: 5 / 8;
    grid-row: 2 / 7;  
}
.main-img{
    width: 100%;
    height: 100%;
}
/*ESTILOS DEL TEXTO DE BIENVENIDA*/
.text-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2 / 5;
    grid-row: 3 / 5;
}
.text__welcome-container{
    width: 100%;
    height: 15.9rem;
    display: flex;
    padding: 1.5rem;
    margin-top: 6rem;
    text-align: center;
    -webkit-text-stroke: 1px #00bdc578;
}
.text__welcome{
    width: 100%;
    height: auto;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}
/* ESTILOS DEL BOTON DE BIENVENIDA */
.text__button-container{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.text__button{
    width: 12rem;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.6rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    border: 0.2rem solid var(--verdePastel);
}


